<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Start a New Game</h3>
  </div>
  <div class="panel-body">
    <form>
      <% games.each(function(game, i) { %>
        <div class="radio">
          <label>
            <input name="name" type="radio" value="<%= game.get('name') %>" <% if (i == 0) { %>checked <% } %>>
            <%= game.description() %>
          </label>
        </div>
      <% }); %>
      <button class="save btn btn-lg btn-success" href="#">Play</button>
    </form>
  </div>
</div>
