<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= game.description() %> (PID <%= game.get('pid') %>)</h3>
  </div>
  <div class="panel-body">
    <pre class="gametext"><%= _.first(game.get('statuses')) %></pre>
    <form>
      &rarr; <input type="text" name="action" />
    </form>
  </div>
</div>
